.pagina-pokedex{
   background: linear-gradient(90.09deg, #9190b3 20.79%, #cca3ba 99.93%);
  height: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .background{
      width: 500px;
      height: 250px;
      border-radius: 100%;
      background-color: rgba(137, 174, 202, 0.3);
  }

  section{
      width: 900px;
      height: 650px; 
      
      
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom:10px ;
      
      gap: 10px;

       img{
          width: 150px;
          height: 150px;
       }


       
       .busca > button{
       
          background-color: rgba(119, 96, 203, 1);
          border: none;
          color: #fff;
          width: 200px;
          height: 50px;
          border-radius: 50px;
          font: 500 14px 'arial';
          margin-bottom: 10px;
       }

       .sla{
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 950px;
          height: 400px;
          gap: 10px;
          overflow-y: scroll;
       }

       .buttons{
          display: flex;
          flex-direction: row;
          gap: 0px 10px;
          
          button{
             background-color: #33363AB5;
             border: none;
             color: #fff;
             width: 200px;
             height: 50px;
             border-radius: 50px;
             font: 500 14px 'arial';
             margin-bottom: 10px;
          }
       }

       .busca{
          display: flex;
          flex-direction: row;

          button{
             margin-right: 30px;
          }
          
          .inp {
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
             width: 223px;
             height: 45px;
             border: 3px solid rgba(119, 96, 203, 1) ;
             margin-bottom: 30px;
             border-radius: 20px;
             color: rgba(119, 96, 203, 1);
            
            
             div {


                 h2 {
                     font-size: 14px;
                     color: rgb(121, 91, 231);
                     font-weight: 700;
                     margin-bottom: -3px;
                 }

                 input {
                     border: none;
                     box-shadow: 0 0 0 0;
                     outline: 0;
                     color: rgba(119, 96, 203, 1);
                     font-size: 14px;
                     font-weight: 500;
                     background: transparent;
                     width: 170px;
                 }

                 margin: 5px 5px;

             }

             button {
                 border: none;
                 background: transparent;
                
                
                 img{
                   width: 20px;
                   height: 20px;
                 }
             }
         }

       }

  }
}